
<div>
  <div class="row">
    <div class="col-md-4 image_container"  style="padding: 100px 0px 80px 0px;">
        <img src="assets/img/twitter.jpg" class="img-responsive img-circle image">
        <div class="image_middle personalityTypesLink">
          <a href="#personalityType" style="color: black">Personality Types</a>
        </div>
    </div>
    <div class="col-md-8">
      <p style="font-family:garamond;">
        Social Media has proved itself to be the most important part in any
        person’s life in today’s generation that is why for conducting any kind of
        survey or analysis it provides the best source of data about its users.
        The project revolves entirely upon the digital presence of an individual
        and their respective personality traits based on the Sentiments of their
        posts. These personality traits will help to make various recommendations
        to the users, assuming that the personality of the user might be one of
        the key factors in his/her day-to-day interests.
      </p>
      <aside id="sticky-social">
        <ul>
          <li>
            <a href="#" class="entypo-facebook" target="_blank"><span>Facebook</span></a>
          </li>
          <li>
            <a href="#" class="entypo-twitter" target="_blank"><span>Twitter</span></a>
          </li>
          <li>
            <a href="#" class="entypo-linkedin" target="_blank"><span>LinkedIn</span></a>
          </li>
          <li>
            <a href="http://www.google.com" class="entypo-google-circles" target="_blank"><span>Google</span></a>
          </li>
          <li>
            <a href="#" class="entypo-github" target="_blank"><span>github</span></a>
          </li>
        </ul>
      </aside>
    </div>
  </div>
  <div class = "row" style="margin-left:150px;">
    <button type="button" class="btn btn-danger">Openness</button>
    <button type="button" class="btn btn-danger">Conscientiousness</button>
    <button type="button" class="btn btn-danger">Extraversion</button>
    <button type="button" class="btn btn-danger">Agreeableness</button>
    <button type="button" class="btn btn-danger">Neurotism</button>
  </div>
  <div id="personalityType" style="padding-top:0px;"><br><br>
    <p style="font-family:garamond;" style = "padding-top:0px;padding-bottom:50px;">
      <strong><hr>Openness -</strong>
      People who like to learn new things and enjoy new experiences usually score high in openness. It includes traits like being insightful and imaginative and having a wide variety of interests.<br>
      <br><hr><strong>Conscientiousness - </strong>People that have a high degree of conscientiousness are reliable and prompt. Traits include being organized, methodic, and thorough.<br>
      <br><hr><strong>Extraversion - </strong>Extraverts get their energy from interacting with others, while introverts get their energy from within themselves. Extraversion includes the traits of energetic, talkative, and assertive.<br>
      <br><hr><strong>Agreableness - </strong>These individuals are friendly, cooperative, and compassionate. People with low agreeableness may be more distant. Traits include being kind, affectionate, and sympathetic.<br>
      <br><hr><strong>Neuroticism - </strong>Neuroticism is also sometimes called Emotional Stability. This dimension relates to one’s emotional stability and degree of negative emotions. People that score high on neuroticism often experience emotional instability and negative emotions. Traits include being moody and tense.<br>
    </p><br><br>
  </div>
</div>
<app-footer></app-footer>